/* Theme Colors*/
.pearson-container {
  position: relative;
  margin: 58.5px 18.5px 18.5px;
  padding: 0;
  width: 212px;
  height: 112px;
  background-color: #fff;
  box-shadow: 2px 2px 2px #ccc; }
  .pearson-container p {
    text-align: center;
    font-size: 1.8rem;
    color: #e93939; }
  .pearson-container img {
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    top: -40px;
    left: 50%;
    transform: translateX(-50%); }
  .pearson-container button {
    align-self: flex-start;
    color: #007fa3;
    padding: 2px 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1.4rem; }
  .pearson-container .pearson-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%; }
