/* Theme Colors*/
$primary-color: #007fa3;
$secondary-color: #d8d8d8;
$shadow-color: #ccc;

$default-padding: 18.5px;
$default-margin: 18.5px;

$font-h1: 3.6rem;
$font-lg: 2.2rem;
$font-md: 1.8rem;
$font-sm: 1.4rem;

$preloader-size: 50px;
$preloader-border: 10px;

$card-color: #fff;
$card-title-color: #e93939;
$card-width: 212px;
$card-height: 112px;
$avatar-size: 80px;

$alert-text-color: #fff;
$alert-btn-border-color: #fff;
$alert-background-color: #424242db;

$error-text-color: #721c24;
$error-background-color: #f8d7da;
$error-border-color: #f5c6cb;