@import './variables';

.confirmation-alert {
    text-align: center;
    padding: 35px;
    background: $alert-background-color;
    border-top: solid 3px $primary-color;
    color: $alert-text-color;
    box-shadow: 0 20px 75px $shadow-color;

    button {
        width: 150px;
        padding: 10px;
        margin: 10px;
        font-size: $font-sm;
        color: $alert-text-color;
        border: 1px solid $alert-btn-border-color;
        background: none;
        cursor: pointer;
    }

    button:hover {
        border-color: $primary-color;
        color: $primary-color;
        background-color: $alert-text-color;
    }
}