@import './variables';

.pearson-container {
    position: relative;
    margin: 58.5px $default-margin $default-margin;
    padding: 0;
    width: $card-width;
    height: $card-height;
    background-color: $card-color;
    box-shadow: 2px 2px 2px $shadow-color;

    p {
        text-align: center;
        font-size: $font-md;
        color: $card-title-color;
    }

    img {
        position: absolute;
        height: $avatar-size;
        width: $avatar-size;
        border-radius: 50%;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
    }

    button {
        align-self: flex-start;
        color: $primary-color;
        padding: 2px 5px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-size: $font-sm;
    }

    .pearson-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
    }
}