@import './variables';

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    .loader {
        border: $preloader-border solid $secondary-color;
        border-top: $preloader-border solid $primary-color;
        border-radius: 50%;
        width: $preloader-size;
        height: $preloader-size;
        animation: spin 2s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}